<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" th:href="@{./css/thymeleaf.css}">
</head>
<body>
	<th:block th:insert="~{/menu.html :: menu}"></th:block>
	<h1>회원 목록</h1>
		<table border="1">
		<tr>
			<th>번호</th>
			<th>제목</th>
			<th>작성일</th>
			<th>작성자</th>
		</tr>
		<tr th:each="row : ${ list}">
			<td th:text="${row.mno}"></td>
			<td th:text="${row.mid}"></td>
			<td th:text="${row.mname}"></td>
			<td th:text="${row.mjoindate}"></td>
		</tr>
	</table>
</body>
</html>